name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Prepare Secret Files
      run: |
        echo "${{ secrets.KEYSTORE }}" > alvareztech.jks.asc
        gpg -d --passphrase "${{ secrets.KEYSTORE_PASSPHRASE }}" --batch alvareztech.jks.asc > app/alvareztech.jks
        echo "${{ secrets.KEYSTORE_PROPERTIES }}" > keystore.properties.asc
        gpg -d --passphrase "${{ secrets.KEYSTORE_PASSPHRASE }}" --batch keystore.properties.asc > keystore.properties
        echo "${{ secrets.AGCONNECT_SERVICES }}" > agconnect-services.json.asc 
        gpg -d --passphrase "${{ secrets.KEYSTORE_PASSPHRASE }}" --batch agconnect-services.json.asc > app/agconnect-services.json
    - name: Build with Gradle
      run: |
        chmod +x gradlew
        ./gradlew assembleRelease
    - name: Publish APK
      uses: actions/upload-artifact@v2
      with:
        name: apprelease.apk
        path: app/build/outputs/apk/release/app-release.apk
